<!doctype html>
<html lang="<%= current_page.data.lang || "en" %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The website of Quatauta on GitLab build with GitLab Pages and Middleman">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="px-1">

    <article id="main" role="main" class="mx-auto py-4 max-w-prose text-sm sm:text-base lg:text-lg xl:text-xl 2xl:text-2xl">
      <%= yield %>
    </article>

    <aside class="mx-auto py-4 max-w-prose text-sm sm:text-base lg:text-lg xl:text-xl 2xl:text-2xl">
      <h2 class="font-bold pt-4">Recent Articles</h2>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <h2 class="font-bold pt-4">Tags</h2>
      <ol class="space-x-4">
        <% blog.tags.each do |tag, articles| %>
          <li class="inline"><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>

      <h2 class="font-bold pt-4">Archive</h2>
      <ol class="space-x-4">
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li class="inline"><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>

      <div class="py-4"></div>
    </aside>

    <div class="fixed bottom-0 left-4">
      <button class="bg-yellow-600 text-white py-1 px-3 rounded-2xl rounded-b-none">
        <%= link_to('Edit this page', edit_page_url(data.config.repository, current_page.file_descriptor.relative_path), id: 'edit-page-link') %>
      </button>
    </div>
  </body>
</html>
